<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" id="upload-form" action="/api/upload" enctype="multipart/form-data">
      <label for="">Please enter the name of the author of the video</label>
      <p><input type="text" name="author"></p>
      <label for="">Please enter a title for your video</label>
      <p><input type="text" name="title"></p>
      <p><input type="file" name="mp4file" accept=".mp4"></p>
      <button type="button" id="submit-button">Submit</button>
    </form>
  </body>

  <script src="../static/upload.js"></script>
</html>
