<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlightStream</title>
    <link rel="stylesheet" href="../static/viewer.css">
</head>
<body>
    <div id="nav">
        <form id="home-form" action="/">
            <button type="submit">Home</button>
        </form>
        <form id="logout-form">
            <button type="submit">Logout</button>
        </form>
    </div>

    <div class="container">
        <div id="message" class="message"></div>

        <div id="media-player-section" class="media-player">
            <div id="videos"> </div>
            <div id="likeDislikeDiv">
                <button id="like" name="like">👍 Like</button>
                <button id="dislike" name="dislike">👎 Dislike</button>
            </div>

            <div id="playPauseBtn">
                <button id="playPauseBtnButton">Pause</button>
            </div>

            <input type="range" id="seekBar" value="0" min="0" max="100" step="1">
            <select id="resolutionSelect"></select>
        </div>
    </div>

    <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
    <script src="../static/viewer.js"></script>
</body>
</html>
